<cart-drawer>
  <h1 data-title></h1>
  <p data-description></p>
  <div data-products class="grid gap-5 grid-cols-2">
    {%- for i in (0..5) -%}
      <div class="bg-green-200 aspect-[1/1]"></div>
    {%- endfor -%}
    234qwdssssssssssss23433232
  </div>
  <div class="bg-black h-16 w-10">oh ok</div>
</cart-drawer>

<another-element> uiassssssasdsd </another-element>
