<div>
  <cart-drawer> Hi you. </cart-drawer>
</div>

<div>
  <product-form data-something="sdf">
    <h1>Product222 Form2waasds213132wd</h1>
    <p data-target="product-form.text">Product form is here</p>
  </product-form>
</div>
<div>
  <product-form data-something="sdf">
    <h1>Product222 Form2waasds213132wd</h1>
    <p data-target="product-form.text">Product form is here</p>
  </product-form>
</div>
<div>
  <product-fodrm data-something="sdf">
    <h1>Product222 Form2waasds213132wd</h1>
    <p data-target="product-form.text">Product form is here</p>
  </product-fodrm>
</div>

<div class="left-0 absolute h-full"></div>
