<cart-drawer>
  <h1 data-title></h1>
  <p data-description></p>
  <div data-products class="grid gap-5 grid-cols-4">
    {%- for i in (0..5) -%}
      <div class="bg-green-200 aspect-[1/1]"></div>
    {%- endfor -%}
    234qwd
  </div>
</cart-drawer>

<another-element> uiasd </another-element>
