<div data-controller="cart-drawer">
  <div data-cart-drawer-target="price" data-action="click->cart-drawer#send">12.00</div>
</div>

<form data-controller="product-form" data-load-immediate data-action="cart-drawer:something@window->product-form#react">
  asd2
</form>
